

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* color-sheadr */

.text-primary{
    color: #fd6e0a;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #fd6e0a;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
.section-titel{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 20px;
    color: #757575;
}

/* nav styels */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px;
}
.nav-taitel{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
}

/* banner-styel */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 150px;
}
.banner-content{
    max-width: 500px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-titel{
    font-size: 45px;
    font-weight: bold;
}
.banner-discription{
    font-size: 15px;
}
.banner-profile-pic{
    width: 500px;
}
/* sheadr style */
.secendary-bg{
    background-color: #fff8f3;
}
/* about styel */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
/* main styel */
main{
    max-width: 1540px;
    margin: 0 auto;
}
.item-description{
    font-weight: bold;
    font-size: 20px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
/* skill section style */
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px blueviolet;
    border-radius: 05px;
}
/* More skill section style */
.images-size{
    height: 50px;
    width: 50px;
}